[Unit]
Description=Updates the operating system whilst offline
Requires=dbus.socket
OnFailure=reboot.target

[Service]
ExecStart=/usr/lib/packagekit/pk-offline-update
